contractions
pdfdocument
unstructured
transformers
sentence-transformers
gradio
requests
huggingface-hub
torch
pypdf
openai
tokenizers
chromadb
langchain
tiktoken
google-cloud-storage
nltk
beautifulsoup4
libmagic
