contractions==0.1.73
pdfdocument==4.0.0
unstructured==0.8.1
transformers==4.30.2
sentence-transformers==2.2.2
gradio==3.35.2
requests==2.31.0
huggingface-hub==0.15.1
torch==2.0.1
pypdf==3.12.1
openai==0.9.81
tokenizers==0.13.3
chromadb==0.3.29
langchain==0.0.229
tiktoken==0.4.0
google-cloud-storage==2.10.0
nltk==3.8.1
beautifulsoup4==4.12.2
